@import './components/fonts';
@import './base/variables';
@import './base/mixins';


body {
  background: $blackBg;
  color: $white;
}
.navbar {
  border-color: $white;
  background-color: $blackBg !important;
}
.header_left_part {
  a {
    color: $white;
    &.logo {
      border-color: $white;
    }
  }
}
.animate_logo {
  .square_icon {
    background-color: $white;
  }
}
.user_login_btn {
  border-color: $white;
  color: $white;
}
.navbar-toggler {
  border-color: $white;
  color: $white;
}

.common_title_bg {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    border-bottom: 1px solid $white;
    height: 50px;
    display: flex;
    .main_heading {
        margin: 0;
        font-weight: 300;
        font-size: 20px;
        display: inline-flex;
        background-color: $white;
        color: $black;
        width: 198px;
        align-items: center;
        justify-content: center;
    }
}

.about_info_sec {
    padding-top: 60px;
    padding-bottom: 40px;
    .hero_heading2 {
        .style1 {
            font-size: 1.5vw;
            font-weight: 200;
            line-height: 1.5vw;
        }
        h2 {
            font-size: 4.6vw;
        }
        .author_group {
            font-size: 1.5vw;
            font-weight: 200;
            .style3 {
                .square_ico {
                    background-color: $white;
                    width: 0.6vw;
                    height: 0.6vw;
                }
            }
        }
    }
}
.about_story_sec {
    h4 {
        color: $secondary;
        text-transform: uppercase;
        font-family: $font-chivo;
        font-weight: 300;
        font-size: 1.8vw;
        margin-bottom: 10px;
    }
}
.stroy_info_box {
    padding-right: 40%;
    p {
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin: 0;
    }
}

/*Team page*/
.team_meet_sec {
  padding-top: 60px;
  padding-bottom: 60px;
}
.team_desc {
  max-width: 450px;
  font-weight: 300;
  margin: 0;
}
.team_grid_bg {
  margin-top: 60px;
}
.team_col_box {
  margin-bottom: 50px;
  .avatar {
    width: 180px;
    display: inline-block;
    @include  transition5;
  }
  .team_name {
    color: $secondary;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    margin: 10px 0 0 0;
  }
  .team_gender {
    color: $secondary;
  }
  .designation {
    margin: 10px 0 0 0;
    display: inline-block;
    opacity: 0.6;
    font-size: 14px;
  }
  &:hover {
    .avatar {
      transform: rotate(-10deg);
    }
  }
}

/*quick contact*/
.quick_contact_part {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}
.contact_left_info {
  width: 50%;
  h2 {
    font-family: $font-work-sans;
    font-weight: 400;
    font-size: 40px;
  }
  p {
    opacity: 0.7;
    margin: 0;
  }
}
.contact_right_info {
  width: 50%;
    padding-top: 20px;
    padding-left: 60px;
  .shadow_btn {
    display: inline-block;
    margin-bottom: 0;
    .title {
      padding: 8px 15px;
    }
  }
}

.marquee_scroll {
  border-top-color: $white;
  border-bottom-color: $white;
  background-color: $blackBg;
}

.about_service_wrapper {
  padding-top: 100px;
  position: relative;
}
.cube_group_box {
    display: inline-block;
    width: 350px;
}
.title_h3 {
  margin: 0 0 5px 0;
  font-family: $font-work-sans;
  font-weight: 300;
  font-size: 40px;
  transform: rotateX(40deg);
  b {
    font-weight: 600;
  }
}
.service_abo_1 {
    display: inline-block;
    max-width: 360px;
    padding-left: 100px;
}
.service_abo_2 {
    display: inline-block;
    max-width: 265px;
}
.service_abo_3 {
  max-width: 380px;
}
.service_abo_4 {
  margin-top: 80px;
  position: relative;
  p {
    max-width: 370px;
    margin: 0 0 0 155px;
  }
  .text_purple {
    font-family: $font-chivo;
    font-weight: 600;
    font-size: 20px;
    transform: rotateX(25deg);
    display: inline-block;
  }
}
.purple_sub_heading {
  font-size: 36px;
  margin: 0;
  font-family: $font-chivo;
  transform: rotateX(40deg);
  display: inline-block;
  font-weight: 400;
}
.service_tow_col {
  margin-top: 30px;
}
.position-realtive {
  position: relative;
}
.cube_group_box {
    display: inline-block;
    width: 350px;
    position: absolute;
    top: 110px;
    left: 130px;
}

.bg_anime2 {
  width: 40vw;
  height: 40vw;
  position: absolute;
  right: 0;
  bottom: -40px;
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(50px);
    opacity: 0.8;
  }
}

.bg_anime2_flot {  
  animation-name: ani-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; 
}

@keyframes ani-float {
  0% { transform: translate(0,  0px); }
  50% { transform: translate(0, 15px); }
  100% { transform: translate(0, -0px); }    
}


.bg_anime1 {
  width: 50vw;
  height: 50vw;
  position: absolute;
  left: -5vw;
  top: -20vw;
  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(50px);
    opacity: 0.8;
  }
}
.bg_anime2_rotate {  
    animation-name: ani-rotate;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
  }
 
  @keyframes ani-rotate {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }  
  }


  /*responsive*/

  @media(max-width:575px) {
    .stroy_info_box {
      padding-right: 0;
    }
    .about_story_sec {
      &>.row {
        &>div {
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .about_story_sec {
      h4 {
          font-size: 12vw;
      }
    }
    .marquee_scroll {
      .item {
        font-size: 16px;
      }
    }
    .about_service_wrapper {
      padding-top: 20px;
    }
    .title_h3 {
      font-size: 9vw;
    }
    .purple_sub_heading {
      font-size: 6vw;
    }
    .service_abo_1 {
      max-width: 100%;
      padding-left: 0;
    }
    .cube_group_box {
        position: inherit;
      width: 60%;
      top: inherit;
      left: inherit;
      margin: 0 auto;
      display: inherit;
    }
    .service_abo_2 {
      max-width: 100%;
      margin-top: 20px;
    }
    .service_tow_col {
      margin-top: 10px;
    }
    .service_abo_4 {
      margin-top: 30px;
    }
    .service_abo_4 p {
      max-width: 100%;
      margin-left: 0;
    }
    .team_desc {
      max-width: 100%;
    }
    .contact_left_info {
      h2 {
        font-size: 40px;
      }
    }
    .quick_contact_part {
      flex-direction: column;
      padding-bottom: 40px;
    }
    .contact_left_info,
    .contact_right_info {
        width: 100%;
    }
    .contact_right_info {
      padding-top: 30px;
      padding-left: 0;
      text-align: center;
    }
    .about_info_sec {
      .hero_heading2 {
        h2 {
            font-size: 14vw;
        }
        .style1 {
          font-size: 4vw;
          line-height: normal;
        }
        .author_group {
          font-size: 5vw;
        }
      }
    }
    .team_grid_bg {
        white-space: nowrap;
        overflow: auto;
      &>.row {
        flex-wrap: nowrap;
        &>div {
          width: auto;
          width: 50%;
              white-space: pre-wrap;
        }
      }
    }
    .team_col_box {
        margin-bottom: 10px;
        .team_name {
          font-size: 18px;
        }
        .avatar {
        width: 40vw;
      }
    }

  }